<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <head th:fragment="header">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" th:href="@{/css/formatting.css}">

        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    </head>
</head>
<body>
<nav th:fragment = "navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> Project IO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/menu}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/create}">crear empleado</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/pages}">otra pagina</a>
            </li>

        </ul>
    </div>
</nav>

<p>Introduce los datos</p>
<form action="/create" method="post"  th:object="${formData}">
<!--<form action="/crea1" method="post"  th:object="${formData}">-->
    <p>Nombre completo: <input type="text" th:field="${formData.fullName}" /></p>
    <p>edad: <input type="text" th:field="${formData.age}" /></p>
    <p>Asegurado <input type="checkbox" th:field="${formData.asegurado}" th:value="true" /></p>
    <p>Genero</p>
    <p>Masculino: <input type="radio" th:field="${formData.genero}" th:value="Masculino" />
        Femenino: <input type="radio" th:field="${formData.genero}" th:value="Femenino" />
    </p>
    <p><input type="submit" value="Submit"> <input type="reset" value="Reset"></p>

    <b th:text="${msg}"></b>
    <a href="/pages">LINK A OTRA PAGINA</a>

</form>


</body>
</html>